@media only screen and (max-width: 992px) { 
    #nomperfil{
        width: 100%;
        font-size:1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }
   
    #imatge {
        margin-top: 0em;
    }

    #imatge2{
        width:40%; 
        height:40%; 
        display:block; 
        margin:auto;
    }
}

@media only screen and (min-width: 992px) { 
    #nomperfil{
        width: 100%;
        font-size:2em;
        margin-top: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #imatge {
        margin-top: -10em;
    }
    #imatge2{
        border: 5px solid #808080;
        width:200px; 
        height:200px; 
        display:block; 
        margin:auto;
    }

    #menudreta{
        margin-left: -5%;
    }
}